body {
    margin: 0;
}

header {
    padding: 16px;
    background-color: bisque;
    color: #a9a9e0;
    text-align: centre;
    grid-area: header;
}

#menu {
    text-align: center;
    padding: 32px;
    background-color: darkgoldenrod ;
    grid-area: menu;
}

nav {
    margin-top: 28px;
    display: flex;
    align-items: centre;
    flex-flow:column ;
}

#main-content {
    padding: 32px;
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 16px;
    background-color: orange;
    color:white
}

#grid-container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer"
    ;
    grid-template-columns: 3fr 73fr;
}